@import url("./material.css");
@import url("./chartist.min.css");
@import url("./modules/material.css");
@import url("./modules/contactus.css");
@import url("./modules/footer.css");
@import url("./modules/intro.css");
@import url("./report/report.css");
@import url("./modules/a11y.css");

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: Roboto, 'Helvetica Neue', 'Calibri', 'Liberation Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333;
  line-height: 1.33;
  margin-top: 20px;
  margin-bottom: 10px;
}
p, h6 {
  line-height: 1.33;
}
a {
  text-decoration-skip-ink: auto;
  color: rgb(211, 45, 101);
}

/* force content width to 100T */
.mdl-layout__content {
  width: 100%;
}

/* sidebar */
.logo-img {
  width: 100%;
}
.demo-drawer-header a {
  text-decoration: none;
  color: inherit;
  padding-top: 5px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: white;
  font-weight: bold;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #68089e;
}

/* prevent top-of-page spasms */
.map-container {
  height: 600px;
}

/* fix for mdl menu on linux screwing up page scrolling */
.mdl-menu,
.mdl-menu__container,
.mdl-menu__outline {
  z-index: 0;
}

/* for side by side elements */
.flexcontainer {
  display: flex;
  flex-direction: row;
}
.flexcontainer .flex-item {
  flex-grow: 1;
  width: 50%;
  padding: 10px;
}

.undermap-controls button {
  margin-bottom: 5px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

input,
textarea {
  outline: none;
}

/* hide content on phones */
@media (max-width: 520px) {
  .phoneHide {
    display: none;
  }
}

/* Chart styling */
.ct-label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.ct-label.ct-horizontal {
  margin-left: -1.25rem;
}

/* Global button styling */
.mdl-chip {
  margin: 2px;
  cursor: pointer;
}

button.mdl-chip:hover {
  box-shadow: inset 0 0 0 2px rgba(104, 8, 158, 0.4);
}

button.mdl-chip.is-disabled:hover {
  box-shadow:none;
}
.mdl-chip.is-disabled {
  opacity: 0.25;
  cursor: inherit;
}

.mdl-chip.is-active {
  background: #68089e;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

/* Print styling for global components */
.print #sidebar-hamburger-button {
  display: none;
}

.print .header-nav {
  display: none;
}

@media print {
  .mdl-layout__header {
    display: none;
  }
}

/* Chartist tooltips */
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: rgba(0, 0, 0, 0.85);
  color: #ccc;
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  border-radius: 5px;
  transition: opacity .2s linear;
}
.chartist-tooltip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.85);
}
.chartist-tooltip.tooltip-show {
  opacity: 1;
}
