@import "./typography.scss";
@import "./modules/a11y.css";

.v-main {
  padding-top: 0 !important;
}

.v-app-bar.v-toolbar .v-tabs, .v-main .jump-nav-bar {
  .v-slide-group__container {
    color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));

    .v-tab--selected {
      color: rgb(var(--v-theme-on-surface))
    }
  }
}


.v-btn:not(.v-btn--variant-text):not(.v-btn--variant-outlined):not(.v-btn--icon) {
  margin: 2px;
  box-sizing: border-box;

  &:not(.v-theme--dark) {
    background: #dedede;
    opacity: 1;

    &:hover {
      box-shadow: inset 0 0 0 2px rgba(104, 8, 158, .4) !important;
    }

    &.v-btn--active {
      background-color: rgb(var(--v-theme-accent));
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      opacity: 1;
      color: white;
    }
  }

  &.v-theme--dark {
      background-color: rgb(var(--v-theme-accent));
      &.v-btn--disabled {
        background: rgba(0,0,0,.26) !important;
      }
  }
}

.v-dialog .v-list-group__items .v-list-item {
  padding-left: 30px;
}

.theme--dark {
  .v-list-item--link:not(.v-list-group__header) {
    background: rgb(var(--v-theme-accent));
  }

  .v-list-item-title, .v-list-item__icon {
    color: white;
    caret-color: white;
  }

  .v-list-group__items {

    .v-list-item--active:not(.v-list-group__header) {
      background: rgb(var(--v-theme-accent));
    }

    .v-list-item--active:before {
      opacity: 0;
    }
  }
}

.v-card {
  padding: 8px !important;
}

.spacer {
  height: 16px;
}

.v-application .title {
  letter-spacing: initial !important;
  line-height: 1.5rem;
  margin-bottom: 8px;
}

/* Chart styling */
.chartist svg {
  overflow: visible;
}

.ct-label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.ct-label.ct-horizontal {
  margin-left: -1.25rem;
}

/* Chartist tooltips */
.chartist-tooltip {
  z-index: 1000 !important;
}

/* prevent top-of-page spasms */
.map-container {
  min-height: 600px;
}

/* for side by side elements */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container .flex-item {
  flex-grow: 1;
  padding: 10px;
}

.undermap-controls .v-btn {
  margin-bottom: 5px;
}

input,
textarea {
  outline: none;
}


// Fix for Vuetify bug where when scrolling menu vertically the background scrolls up and out of view.
.v-menu__content.menuable__content__active {
  background: white;
}
