@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

@mixin heading-font {
  font-family: "Montserrat", sans-serif !important;
}

@mixin body-font {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.75;
}

@mixin mobile-heading($size) {
  @media (max-width: 768px) {
    font-size: $size;
  }
}

// Wrap in .v-application to override Vuetify defaults.
.v-application {
  @include body-font;

  a:not(.v-btn):not(.v-tab):not(.social__link),
  .v-btn--text:not(.theme--dark):not(.download):not(.v-btn--disabled) {
    color: var(--v-accent-base);
    text-decoration: none;
    position: relative;

    span:first-child {
      border-bottom: 2px solid rgba(104, 8, 158, 0.25);
      -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
      transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);

      &:hover {
        border-bottom: 2px solid rgba(104, 8, 158, 0.65);
      }
    }

    &::before {
      background-color: transparent;
    }
  }

  .title {
    @include heading-font;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include heading-font;
  }

  h1 {
    font-size: 3.052em;
    @include mobile-heading(1.802em);
  }

  h2 {
    font-size: 2.074em;
    @include mobile-heading(1.602em);
  }

  h3 {
    font-size: 1.728em;
    @include mobile-heading(1.424em);
  }

  h4 {
    font-size: 1.44em;
    @include mobile-heading(1.266em);
  }

  h5 {
    font-size: 1.2em;
    @include mobile-heading(1.125em);
  }

  h6 {
    font-size: 1em;
    @include mobile-heading(1em);
  }
}
